.root {
  padding: 1rem 3rem;

  box-sizing: border-box;
  * {
    overflow-x: auto;
    /* @TODO use github's default style */
  }

  pre {
    overflow-x: auto;
  }

  img {
    max-width: 100%;
  }
}
