.root {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.title > a {
  color: inherit;
  text-decoration: none;
}

.fullName {
  composes: gray from '../../../../styles/colors.css';
  font-weight: normal;
  color: gray;
  font-size: 0.8rem;
  padding-left: 0.3rem;
}

.content {
  padding: 0.5rem 0;
}

.score {
  color: rgb(255, 102, 0);
  font-size: 0.85rem;
  min-width: 40px;
  text-align: center;
}

.info {
  font-size: 0.7em;
  margin: 0;
}

.info > * {
  padding: 0 0.2em;
  color: inherit;
}

.info > *:first-child {
  padding-left: 0;
}
