.root {
  padding: 0.2em 0.5em;
  margin: 0.1em;
  font-size: 0.8em;
  height: 2em;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid rgb(248, 245, 240);
  white-space: pre;
  cursor: pointer;
}

.selected {
  border: 1px solid rebeccapurple;
}

.buttonReset {
  background: none;
  font-family: inherit;
}
